.grid {
    background-color: #526e72;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    border-radius: 8px 8px 0 0;
}

.dropzone {
    background-color:transparent;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    color: #f7ece1;
    transition: transform 0.2s;
    border-radius: 8px;
    border: 2px dashed #f7ece1;
}

.dropzone:hover {
    background-color: #6a8d92;
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 0.1s;
}

.dropzone:active {
    background-color: #92767f;
    transform: scale(0.98);
    transition: transform 0.1s;
}

.dropzone-footer {
    color: #f7ece1;
    font-size: smaller
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #2f4350;
    padding: 20px;
    border-radius: 8px;
    max-width: 90%;
    width: auto;
    position: relative;
}

.modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-header {
    /* make center */
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: x-large;
}
.images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-item {
    flex: 1 1 calc(33.333% - 10px);
    box-sizing: border-box;
}

.uploaded-image {
    max-width: 100%;
    height: auto;
    display: block;
}

.clothing-input {
    background-color: #0c1f2b;
    color: #f3e9d2;
    border: none;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 10px;
}

.clothing-select {
    background-color: #0c1f2b;
    color: #f7ece1;
    border: none;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 10px;
}

.clothes-item {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.clothes-image {
    width: 200px;
    height: 200px;
    object-fit: cover; 
    border-radius: 8px;
}

.clothes-image:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 0.1s;
}

.profile-card {
    padding: 15px;
    border-radius: 8px;
}

.profile-card-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.lg-skeleton {
    width: 100%;
}

.sm-skeleton {
    width: 60%;
    /* center */
    margin: 0 auto;
}

.profile-card-image {
    width: auto;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
}

.dropdown-btn {
    background: #526e72;
    border: none;
    /* have border radius only on bottom */
    border-radius: 0 0 8px 8px;
    width: 100%;
    padding-bottom: 2px;
    padding-top: 2px;
    color: #f7ece1;
}

.dropdown-btn:hover {
    background-color: #6a8d92;
    cursor: pointer;
}

.outfit-btn {
    background-color: #6a8d92;
    color: #f7ece1;
    border: none;
    padding: 10px;
    border-radius: 8px;
    width: 8%;
    margin-bottom: 10px;
    transition: transform 0.2s;
}

.outfit-btn:hover {
    background-color: #9F838C;
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 0.1s;
}

.outfit-btn:active {
    background-color: #8b7179;
    transform: scale(0.98);
}

.navbar {
    /* background-color: #526e72; */
    color: #f7ece1;
    border-radius: 8px;
    /* padding from top */
}

.save-btn {
    background-color: #F3E9D2;
    color: #031927;
    border: none;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 10px;
}

.save-btn:hover {
    background-color: #f7ece1;
    cursor: pointer;
}

.delete-btn {
    background-color: #4b1414;
    color: #f7ece1;
    border: none;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 10px;
}

.delete-btn:hover {
    background-color: #5c1a1a;
    cursor: pointer;
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 1s;
}

.animate-fade-1 {
    animation: fadeInOut 2s infinite;
}

.animate-fade-2 {
    animation: fadeInOut 2s infinite;
    animation-delay: 0.5s;
}

.animate-fade-3 {
    animation: fadeInOut 2s infinite;
    animation-delay: 1s;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
}