@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-purple: #171123;
  --russian-violet: #372248;
  --delft-blue: #414770;
  --french-gray: #CAC4CE;
  --linen: #F7ECE1;

  --background-start: var(--dark-purple);
  --background-end: var(--russian-violet);
  --foreground: var(--french-gray);
  --primary: var(--delft-blue);
  --secondary: var(--linen);
}

@media (prefers-color-scheme: light) {
  :root {
    /* light mode colors */

    --background-start: var(--linen);
    --background-end: var(--french-gray);
    --foreground: var(--dark-purple);
    --primary: var(--delft-blue);
    --secondary: var(--russian-violet);
  }
}

body {
  background: linear-gradient(100deg, var(--background-start), var(--background-end));
  background-blend-mode: overlay;
  color: var(--foreground);
}

@layer utilities {
  .font {
    font-family: 'courier new', monospace;
  }

  .btn-primary {
    background-color: var(--primary);
    color: var(--secondary);
  }

  .btn-secondary {
    background-color: var(--secondary);
    color: var(--primary);
  }

  .text-primary {
    color: var(--foreground);
  }

  .text-secondary {
    color: var(--secondary);
  }

  .border-primary {
    border-color: var(--secondary);
  }
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Make sure it's behind other content */
  }
  
  .video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    opacity: 0.1;
  }